$primary-color: #8257e6;
$dark-primary-color: #633bbc;
$secondary-color: #42d3ff;
$neutral-color1: #202024;
$neutral-color2: #323238;
$neutral-color3: #121214;
$text-color: #e1e1e6;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    font-family: Inter, sans-serif;
}

:root {
    font-size: 62.5%;
    color: #ffffffde;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    font-size: 1.6rem;
    background: linear-gradient(-5deg, $neutral-color1 51%, $neutral-color2 49%);
    display: flex;
    place-items: center;
    min-height: 100vh;

    .flex {
        display: flex;
    }

    #app {
        display: grid;
        justify-content: center;
        gap: 3.2rem;
        width: 100%;
        max-width: 42rem;
        margin: 0 auto;
        padding: 2.8rem 6rem 4rem;
        background: $neutral-color1;
        border: 2px solid $neutral-color2;
        border-radius: 0.6rem;
        position: relative;
        z-index: 1;
        background: linear-gradient(5deg, $neutral-color2 51%, $neutral-color1 49%);
        transition: all 0.35s ease-in-out;

        header {
            display: flex;
            align-items: center;
            border-bottom: 2px solid $dark-primary-color;
            width: 148px;

            h1 {
                font-size: 24.5px;
                margin-left: 8px;
                color: $text-color;
                font-weight: 300;
            }

            span {
                font-weight: 400;
                color: #6a6a6c;
            }
        }
    }

    .appLoadingState {
        filter: brightness(65%) blur(3px) opacity(0.95);
    }

    .links {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        border-bottom: 8px solid $dark-primary-color;
        border-radius: 20px;
        padding: 0 5px;

        .links-list {
            display: flex;
            list-style-type: none;
            gap: 8px;

            li a img,
            button {
                background: none;
                cursor: pointer;
                opacity: 0.7;
                transition: all 0.2s ease-in-out;

                &:hover {
                    opacity: 1;
                    transform: scale(0.9);
                }
            }

            button:hover::after {
                content: attr(data-tooltip);
                position: absolute;
                width: 80px;
                height: 40px;
                background: $secondary-color;
                color: $neutral-color3;
                font-size: 14.5px;
                border-radius: 5px;
                border-bottom-left-radius: 50%;
                border-bottom-right-radius: 50%;
                bottom: 45px;
                left: calc(50% - 80px / 2);
                line-height: 32px;
                transition: all 1s ease-in-out;
            }
        }
    }

    .orbit {
        $uib-size: 80px;
        $uib-speed: 1.5s;
        $uib-color: $secondary-color;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: $uib-size;
        width: $uib-size;
        top: 45%;
        right: 45%;
        transform: translate(-50%);
        opacity: 0;

        &::before,
        &::after {
            content: '';
            position: absolute;
            height: 60%;
            width: 60%;
            border-radius: 50%;
            background-color: $uib-color;
            will-change: transform;
            flex-shrink: 0;
        }

        &::before {
            animation: orbit $uib-speed linear infinite;
        }

        &::after {
            animation: orbit $uib-speed linear calc($uib-speed / -2) infinite;
        }

        @keyframes orbit {
            0% {
                transform: translate(calc($uib-size * 0.5)) scale(0.73684);
                opacity: 0.65;
            }
            5% {
                transform: translate(calc($uib-size * 0.4)) scale(0.684208);
                opacity: 0.58;
            }
            10% {
                transform: translate(calc($uib-size * 0.3)) scale(0.631576);
                opacity: 0.51;
            }
            15% {
                transform: translate(calc($uib-size * 0.2)) scale(0.578944);
                opacity: 0.44;
            }
            20% {
                transform: translate(calc($uib-size * 0.1)) scale(0.526312);
                opacity: 0.37;
            }
            25% {
                transform: translate(0%) scale(0.47368);
                opacity: 0.3;
            }
            30% {
                transform: translate(calc($uib-size * -0.1)) scale(0.526312);
                opacity: 0.37;
            }
            35% {
                transform: translate(calc($uib-size * -0.2)) scale(0.578944);
                opacity: 0.44;
            }
            40% {
                transform: translate(calc($uib-size * -0.3)) scale(0.631576);
                opacity: 0.51;
            }
            45% {
                transform: translate(calc($uib-size * -0.4)) scale(0.684208);
                opacity: 0.58;
            }
            50% {
                transform: translate(calc($uib-size * -0.5)) scale(0.73684);
                opacity: 0.65;
            }
            55% {
                transform: translate(calc($uib-size * -0.4)) scale(0.789472);
                opacity: 0.72;
            }
            60% {
                transform: translate(calc($uib-size * -0.3)) scale(0.842104);
                opacity: 0.79;
            }
            65% {
                transform: translate(calc($uib-size * -0.2)) scale(0.894736);
                opacity: 0.86;
            }
            70% {
                transform: translate(calc($uib-size * -0.1)) scale(0.947368);
                opacity: 0.93;
            }
            75% {
                transform: translate(0%) scale(1);
                opacity: 1;
            }
            80% {
                transform: translate(calc($uib-size * 0.1)) scale(0.947368);
                opacity: 0.93;
            }
            85% {
                transform: translate(calc($uib-size * 0.2)) scale(0.894736);
                opacity: 0.86;
            }
            90% {
                transform: translate(calc($uib-size * 0.3)) scale(0.842104);
                opacity: 0.79;
            }
            95% {
                transform: translate(calc($uib-size * 0.4)) scale(0.789472);
                opacity: 0.72;
            }
            100% {
                transform: translate(calc($uib-size * 0.5)) scale(0.73684);
                opacity: 0.65;
            }
        }
    }

    .showOrbit {
        transition: all 0.8s ease-in-out;
        opacity: 1;
        z-index: 1;
    }

    .circles {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        li {
            position: absolute;
            display: block;
            list-style: none;
            width: 20px;
            height: 20px;
            background: #42d3ff60;
            animation: animate 25s linear infinite;
            bottom: -150px;
            border-radius: 10%;

            @for $i from 1 through 10 {
                &:nth-child(#{$i}) {
                    @if ($i == 1) {
                        left: 25%;
                        width: 80px;
                        height: 80px;
                        animation-delay: 0s;
                    } @else if ($i == 2) {
                        left: 10%;
                        width: 20px;
                        height: 20px;
                        animation-delay: 2s;
                        animation-duration: 12s;
                    } @else if ($i == 3) {
                        left: 70%;
                        width: 20px;
                        height: 20px;
                        animation-delay: 4s;
                    } @else if ($i == 4) {
                        left: 40%;
                        width: 60px;
                        height: 60px;
                        animation-delay: 0s;
                        animation-duration: 18s;
                    } @else if ($i == 5) {
                        left: 65%;
                        width: 20px;
                        height: 20px;
                        animation-delay: 0s;
                    } @else if ($i == 6) {
                        left: 75%;
                        width: 110px;
                        height: 110px;
                        animation-delay: 3s;
                    } @else if ($i == 7) {
                        left: 35%;
                        width: 150px;
                        height: 150px;
                        animation-delay: 7s;
                    } @else if ($i == 8) {
                        left: 50%;
                        width: 25px;
                        height: 25px;
                        animation-delay: 15s;
                        animation-duration: 45s;
                    } @else if ($i == 9) {
                        left: 20%;
                        width: 15px;
                        height: 15px;
                        animation-delay: 2s;
                        animation-duration: 35s;
                    } @else {
                        left: 85%;
                        width: 150px;
                        height: 150px;
                        animation-delay: 0s;
                        animation-duration: 11s;
                    }
                }
            }

            @keyframes animate {
                0% {
                    transform: translateY(0) rotate(0deg);
                    opacity: 1;
                }

                100% {
                    transform: translateY(-120vh) rotate(720deg);
                    opacity: 0;
                }
            }
        }
    }
}
