$primary-color: #8257e6;
$dark-primary-color: #633bbc;
$secondary-color: #42d3ff;
$neutral-color1: #202024;
$neutral-color2: #323238;
$neutral-color3: #121214;
$text-color: #e1e1e6;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    font-family: Inter, sans-serif;
}

:root {
    font-size: 62.5%;
    color: #ffffffde;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    font-size: 1.6rem;
    background: linear-gradient(-5deg, $neutral-color1 51%, $neutral-color2 49%);
    display: flex;
    place-items: center;
    min-height: 100vh;

    .flex {
        display: flex;
    }

    #app {
        display: grid;
        justify-content: center;
        gap: 3.2rem;
        width: 100%;
        max-width: 42rem;
        margin: 0 auto;
        padding: 2.8rem 6rem 4rem;
        background: $neutral-color1;
        border: 2px solid $neutral-color2;
        border-radius: 0.6rem;
        position: relative;
        z-index: 1;
        background: linear-gradient(5deg, $neutral-color2 51%, $neutral-color1 49%);

        header {
            display: flex;
            align-items: center;
            border-bottom: 2px solid $dark-primary-color;
            width: 148px;

            h1 {
                font-size: 24.5px;
                margin-left: 8px;
                color: $text-color;
                font-weight: 300;
            }

            span {
                font-weight: 400;
                color: #6a6a6c;
            }
        }
    }

    .links {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        border-bottom: 8px solid $dark-primary-color;
        border-radius: 20px;
        padding: 0 5px;

        .links-list {
            display: flex;
            list-style-type: none;
            gap: 8px;

            li a img {
                cursor: pointer;
                opacity: 0.7;
                transition: all 0.2s ease-in-out;

                &:hover {
                    opacity: 1;
                    transform: scale(0.9);
                }
            }
        }
    }
}
