.cc {
    width: 36rem;
    height: 24rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    background: $neutral-color1;
    border-radius: 20px;
    border: 1px solid #ffffff20;

    .cc-bg {
        position: absolute;
        inset: 0;
        z-index: 1;
    }

    .cc-logo {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        span:nth-child(2) img {
            transition: all 0.8s ease-in-out;
            opacity: 0;
            max-height: 35px;
            transform: translateY(-10px);
        }
    }

    .cc-info {
        display: grid;
        gap: 1.4rem;

        .cc-number {
            font-size: 2.4rem;
            font-weight: bold;
            line-height: 2.9rem;
            letter-spacing: 0.04em;
            color: $text-color;
            text-shadow: 0 0.12rem 0.32rem rgb(23 23 23 / 40%);
        }

        .cc-holder,
        .cc-expiration,
        .cc-security {
            display: grid;
            gap: 0.4rem;
        }

        .cc-extra {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .label {
        font-size: 1rem;
        line-height: 1.2rem;
    }

    .value {
        font-size: 1.4rem;
        font-weight: bold;
        color: $text-color;
        text-shadow: 0 0.25rem 0.25rem rgb(22 22 22 / 16%);
        text-transform: uppercase;
    }
}

.cc,
.cc-logo,
.cc-number {
    position: relative;
    z-index: 1;
}
