form {
    max-width: 36rem;
    display: grid;
    gap: 1.6rem;

    .input-wrapper {
        display: grid;
        gap: 0.6rem;
    }

    label {
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1.5rem;
        letter-spacing: 0.01px;
        text-transform: uppercase;
        color: $text-color;
    }

    input {
        background: $neutral-color3;
        border: 2px solid $neutral-color2;
        border-radius: 6px;
        height: 41px;
        padding-inline: 1.2rem;
        width: 100%;
        color: $text-color;
        text-transform: uppercase;
        transition: all 0.5s ease-in-out;
    }

    .flex {
        gap: 1.4rem;

        .input-wrapper {
            flex: 1;
        }
    }

    /* From uiverse.io by @menezes11. Converted to Sass and edited by @Luk4x (Github) */
    button {
        position: relative;
        padding: 1.6rem 1.8rem;
        color: $primary-color;
        text-transform: uppercase;
        letter-spacing: 2px;
        overflow: hidden;
        transition: 0.2s;
        border-radius: 0.5em;
        margin-top: 1.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1.7rem;
        cursor: not-allowed;
        opacity: 0.65;
        background: #201214;
        height: 49px;

        span {
            position: absolute;

            @for $i from 1 through 4 {
                &:nth-child(#{$i}) {
                    @if ($i == 1) {
                        top: 0;
                        left: -100%;
                        width: 100%;
                        height: 2px;
                        background: linear-gradient(90deg, transparent, $primary-color);
                    } @else if ($i == 2) {
                        top: -100%;
                        right: 0;
                        width: 2px;
                        height: 100%;
                        background: linear-gradient(180deg, transparent, $primary-color);
                    } @else if ($i == 3) {
                        bottom: 0;
                        right: -100%;
                        width: 100%;
                        height: 2px;
                        background: linear-gradient(90deg, transparent, $secondary-color);
                    } @else {
                        bottom: -100%;
                        left: 0;
                        width: 2px;
                        height: 100%;
                        background: linear-gradient(360deg, transparent, $secondary-color);
                    }
                }
            }
        }

        &:active {
            @for $i from 1 through 4 {
                span:nth-child(#{$i}) {
                    transition: none;
                    transition-delay: none;
                }
            }
        }
    }

    .activeButton {
        cursor: pointer;
        opacity: 1;
        background: $neutral-color3;

        &:hover {
            @for $i from 1 through 4 {
                span:nth-child(#{$i}) {
                    @if ($i == 1) {
                        left: 100%;
                        transition: 0.7s;
                    } @else if ($i == 2) {
                        top: 100%;
                        transition: 0.7s;
                        transition-delay: 0.17s;
                    } @else if ($i == 3) {
                        right: 100%;
                        transition: 0.7s;
                        transition-delay: 0.35s;
                    } @else {
                        bottom: 100%;
                        transition: 0.7s;
                        transition-delay: 0.52s;
                    }
                }
            }
        }

        &:active {
            background: $dark-primary-color;
            background: linear-gradient(to top right, $dark-primary-color 28%, $secondary-color);
            color: $text-color;
            box-shadow: 0 0 8px $primary-color, 0 0 8px $secondary-color, 0 0 8px $primary-color;
            transition: 0.1s;
            transition-delay: none;
        }
    }

    .hideButtonElement {
        display: none !important;
    }
}

.waveform {
    $uib-size: 25px;
    $uib-speed: 1s;
    $uib-color: $primary-color;
    $uib-line-weight: 3.5px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: $uib-size;
    height: calc($uib-size * 0.9);

    .waveform__bar {
        width: $uib-line-weight;
        height: 100%;
        background-color: $uib-color;

        @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
                @if ($i == 1) {
                    animation: grow $uib-speed ease-in-out calc($uib-speed * -0.45) infinite;
                } @else if ($i == 2) {
                    animation: grow $uib-speed ease-in-out calc($uib-speed * -0.3) infinite;
                } @else if ($i == 3) {
                    animation: grow $uib-speed ease-in-out calc($uib-speed * -0.15) infinite;
                } @else {
                    animation: grow $uib-speed ease-in-out infinite;
                }
            }
        }

        @keyframes grow {
            0%,
            100% {
                transform: scaleY(0.3);
            }

            50% {
                transform: scaleY(1);
            }
        }
    }
}
