.swal-overlay {
    background-color: #8257e670;

    .swal-modal {
        background-color: $neutral-color1;
        border: 2px solid $neutral-color2;

        .swal-icon::before,
        .swal-icon::after,
        .swal-icon--success__hide-corners {
            background: $neutral-color1;
        }

        .swal-icon--success {
            border-color: $secondary-color;
        }

        .swal-icon--success__line {
            background-color: $secondary-color;
        }

        .swal-text {
            color: $text-color;
            font-size: 17px;
            text-align: center;
            margin-top: 30px;
            display: block;
        }

        .swal-title {
            text-align: center;
            text-transform: capitalize;
            font-size: 33px;
            color: $dark-primary-color;
            border-bottom: 2px solid $secondary-color;
            border-radius: 2px;
            display: inline;
        }

        .swal-content__img {
            width: 100%;
            max-width: 288px;
        }

        .swal-button.swal-button--confirm {
            color: $text-color;
            background: $primary-color;
            padding: 15px 35px;
            outline: 2px solid $secondary-color;
            transition: 0.2s all ease-in-out;

            &:hover {
                background: $dark-primary-color;
            }
        }
    }
}
