@import 'base.css';
@import 'credit-card.css';
@import 'form.css';

.swal-overlay {
    background-color: #8257e670;
}

.swal-modal {
    background-color: #202024;
    border: 2px solid #323238;
}

.swal-icon::before,
.swal-icon::after,
.swal-icon--success__hide-corners {
    background: #202024;
}

.swal-text {
    color: #e1e1e6;
    font-size: 17px;
    text-align: center;
    margin-top: 20px;
}

.swal-title {
    text-align: center;
    text-transform: capitalize;
    font-size: 33px;
    color: #808080;
    border-bottom: 2px solid #8257e6;
    border-radius: 2px;
    display: inline;
}

button.swal-button.swal-button--confirm {
    color: #e1e1e6;
    background: #8257e6;
    padding: 15px 35px;
    outline: 2px solid #42d3ff;
    transition: 0.2s all ease-in-out;
}

button.swal-button.swal-button--confirm:hover {
    background: #633bbc;
}

@media (max-width: 440px) {
    :root {
        font-size: 50%;
    }

    #app {
        background: none;
        border: none;
    }

    .cc-bg svg {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 840px) {
    body {
        padding: 30px;
        background: linear-gradient(45deg, #202024 61.5%, #323238 39.5%);
    }

    #app {
        grid-template-areas:
            'A B'
            'C B';
        width: fit-content;
        max-width: fit-content;
        padding-inline: 4.8rem;
        grid-template-columns: 0.8fr 1fr;
    }

    #app header {
        grid-area: A;
    }

    #app section.cc {
        grid-area: B;
        align-self: center;
    }

    #app form {
        grid-area: C;
    }

    .backgroundHighlight {
        background: linear-gradient(-45deg, #202024 61.5%, #323238 39.5%);
    }
}
